/* hide mobile footer when not mobile */
@media only screen and (min-width: 576px) {
  #mobile_footer{
    display: none;
  }
}

#mobile_footer{
  height: 400px;
}

.mobile_footer_title{
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  min-height: 24px;
}

.mobile_footer_content{
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 20px;
  min-height: 24px;
}

.mobile_footer_section:not(:last-child){
  border-bottom: 0.5px solid #FFFFFF;
  margin-bottom: 10px;
}

#mobile_footer_copy_right{
  background: #262436;
  height: 40px;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

#mobile_footer_copy_right > p{
  margin: auto;
}

.mobile_footer_icon{
  margin-right: 3px;
}

#mobile_footer_logo_wrapper{
  padding: 16px 0 18px 0;
}